.App{
  height: 100vh;
  height:-webkit-fill-available;
  width: 100%;
  box-sizing: border-box;
}
.CircularProgressbar .CircularProgressbar-path{
  stroke: #f78259;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}